RECORDER_SERVICE_TOKEN=replace-with-a-long-random-secret
HUDDLE_BASE_URL=http://127.0.0.1:8730/hangout
RECORDER_PUBLIC_URL=http://127.0.0.1:8742
RECORDER_CAPTURE_ORIGIN=http://127.0.0.1:8730
RECORDER_STORAGE=/srv/huddle-recordings
CHROMIUM_EXECUTABLE=/usr/bin/chromium
FFMPEG_EXECUTABLE=/usr/bin/ffmpeg
# Optional executable receiving: <session.webm> <subtitles.vtt.part>
TRANSCRIPTION_EXECUTABLE=
RECORDER_PORT=8742
